<!DOCTYPE html>
<html lang="en">

<%- include('head') %>

<body>
    <%- include('nav') %>
        
        <header>

            <div class="header-left-container">
                <div class="header-left">
                    <div class="header-left-toptext">
                        <h1> Trusted Advisers Realty </h1>
                        <h1>Certified <i class="fa-solid fa-award" style="font-size: 2.67rem;"></i></h1>
                    </div>
                    <div class="h-txt-container">
                        <div class="h-txt-container deal">
                            <ul>
                                <li>Opportunities for Realtors</li>
                                <li>Advantages for your clients</li>
                                <li>Offer your clients more/better options to sell without showings.</li>
                            </ul>
                            <button onclick="location.href='#registration'" class="estimates">Get Certified</button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="header-right">
                <div class="header-right-image">
                    <img src="/images/lady-holding-hammer-1.png" alt="">
                </div>
            </div>
        </header>
        <section id="guide">
            <h1 style="color: teal;">Advantages</h1>
            <div class="guide-container">
                <article class="guide-card">
                    <div class="guide-img">
                        <img src="/images/excited-couple-raising-hands-happy-move-new-house.jpg" alt="">
                    </div>
                    <div class="guide-txt">
                        <h3>Advantages for clients</h3>
                        <div class="deal">
                            <ul>
                                <li>Skip Showings</li>
                                <li>Avoid Double Mortgage payments</li>
                                <li>Avoid Double Moves</li>
                                <li>Buy Their Next Home Confidently</li>
                            </ul>
                        </div>
                    </div>
                </article>
                <article class="guide-card">
                    <div class="guide-img">
                        <img src="/images/pexels-kindel-media-7578905.jpg" alt="">
                    </div>
                    <div class="guide-txt">
                        <h3>Advantages for REALTORS</h3>
                        <div class="deal">
                            <ul>
                                <li>More Firm Deals/Closings</li>
                                <li>Offers For Clients On Request</li>
                                <li>No Additional Fees</li>
                                <li>Keep Your Listing Active</li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>
        </section>
        <section id="registration">
            <div class="reg-header">
                <div class="reg-img-container">
                    <img src="/images/trusted-advisers-dark.svg" alt="">
                </div>
                <div class="req-details">
                    <p>Register to become a certified agent for Trusted Advisers Realty in your area and offer more
                        options for your clients</p>
                </div>
            </div>
            <div class="reg-body">
                <form action="/agent/apply" id="signup" method="post">
                    <fieldset>
                        <legend>Application Form</legend>
                        <div class="fields">
                            <div class="text-based-inputs">
                                <div class="input-container">
                                    <label for="firstName">First name</label>
                                    <input type="text" name="first_name" id="firstName" required>
                                </div>
                                <div class="input-container">
                                    <label for="lastName ">Last Name </label>
                                    <input type="text" name="last_name" id="lastName" required>
                                </div>
                                <div class="input-container">
                                    <label for="email">Email </label>
                                    <input type="email" name="email" id="email" required>
                                </div>
                                <div class="input-container">
                                    <label for="phoneNumber">Phone Number </label>
                                    <input type="tel" name="phone_number" id="phoneNumber" required>
                                </div>
                                <div class="input-container">
                                    <label for="website">Website</label>
                                    <input type="url" name="website" id="website" required>
                                </div>
                                <div class="input-container">
                                    <label for="town">City/Area</label>
                                    <input type="text" name="city_area" id="town" required>
                                </div>
                                <div class="input-container">
                                    <label for="province">Province</label>
                                    <input type="text" name="province" id="province" required>
                                </div>
                                <div class="input-container">
                                    <label for="existingBrokerage">Existing Brokerage</label>
                                    <input type="text" name="existing_brokerage" id="existingBrokerage" required>
                                </div>
                            </div>
                            <div class="selections">
                                <div class="selection-container">
                                    <p><label for="accountType">I am </label></p>
                                    <div class="options big">
                                        <label>
                                            <input type="radio" name="account_type" value="broker">
                                            <span>a Broker</span>
                                        </label>
                                        <label>
                                            <input type="radio" name="account_type" value="associate">
                                            <span>an Associate</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="selection-container">
                                    <p><label for="interest">Are you interested in local franchise opportunities when they
                                            become available?</label></p>
                                    <div class="options">
                                        
                                        <label>
                                            <input type="radio" name="franchise_interest" value="1" required>
                                            <span>Yes</span>
                                        </label>
                                        <label>
                                            <input type="radio" name="franchise_interest" value="0" required>
                                           <span> No</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="more-info">
                                <div class="more-info-container">
                                    <p><label for="moreInfo">Is there anything you'd like us to know about you?</label></p>
                                    <textarea name="moreInfo" id="moreInfo" rows="4" required></textarea>
                                </div>
        
                            </div>
                            <div class="submit-container">
                                <button type="submit">Send</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </section>
        <%- include('estimates') %>
        <%- include('footer') %>
</body>
<style>
    img {
        max-width: 75vw;
    }

    #header {
        background-image: url(/images/female-realtor-handing-couple-keys-their-new-home.jpg);
    }

    #registration {
        margin: 2rem 0;
        padding: 10px 1rem;
        background-color: whitesmoke;
    }

    .reg-img-container {
        width: fit-content;
        padding: 10px;
        margin: 1rem auto;
        background: rgb(0, 0, 0);
        box-shadow: 2px 2px 7px 2px gray;
    }

    #registration img {
        width: 250px;
        max-width: 80vw;
        border: 1px solid #C0C6C7;
        border-radius: 2.5px;
        padding: 10px;
    }
    fieldset{
        padding: 15px;
        border-radius: 5px;
        max-width: 90vw;
        border: 1px solid teal;
        margin: 10px auto;
    }
    legend{
        color: teal;
        font-size: 18px;
        padding: 5px 10px;
        font-weight: bold;
        font-family: var(--dm);
    }
    
    .text-based-inputs {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin: 10px auto;
    }

    .input-container {
        margin: 5px;
    }

    input {
        border: 1px solid teal;
        outline-color: teal;
        padding: 5px;
        border-radius: 5px;
    }
    

    .selection-container {
        width: fit-content;
        max-width: 90%;
        padding: 15px 5px;
        margin: 10px;
        border-radius: 5px;
        border: 1px solid grey;
        background-color: white;
        display: flex;
        align-items: center;
    }

    .options {
        width: fit-content;
        min-width: 60px;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        gap: 15px;
        padding-left: 10px;
        align-items: center;
    }
    .options.big{
        grid-template-rows: unset;
        grid-template-columns: 1fr 1fr;
    }
    .options label {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 3px;
        align-items: center;
        padding: 5px;
        border-radius: 5px;
        background-color: white;
        box-shadow: 1px 1px 3px 1px gray;
        height: fit-content;
    }
    .more-info{
        margin: 10px;
        padding: 10px;
        border-radius: 5px;
        background-color: white;
        border: 1px solid gray;
        width: fit-content;
        margin: 10px;
    }
    textarea{
        width: 60vw;
        resize: none;
        border:1px solid transparent;
        outline-color: teal;
        border-radius: 2.5px;
        padding: 3px;
    }
    @media screen and (min-width: 768px){
        .options{
            grid-template-rows: unset;
            grid-template-columns: 1fr 1fr;
        }
    }
    button[type="submit"]{
        width: 100px;
        background-color: teal;
        color: white;
        border: 1px solid teal;
    }
    button[type="submit"]:hover{
        background-color: transparent;
        color: teal;
    }
</style>

</html>