<section id="estimates">
    <div>
        <h3>Home Search - Popular Cities</h3>
        <div class="towns">
            <a href="/cities/Edmonton">Edmonton</a>
            <a href="/cities/Calgary">Calgary</a>
            <a href="/cities/Canmore">Canmore</a>
            <a href="/cities/Chestermere">Chestermere</a>
            <a href="/cities/Cochrane">Cochrane</a>
            <a href="/cities/ColdLake">Cold Lake</a>
            <a href="/cities/Edson">Edson</a>
            <a href="/cities/FortMcmurray">Fort McMurray</a>
            <a href="/cities/FortSaskatchewan">Fort Saskatchewan</a>
            <a href="/cities/GrandePrairie">Grande Prairie</a>
            <a href="/cities/LacLaBiche">Lac La Biche</a>
            <a href="/cities/Lacombe">Lacombe</a>
            <a href="/cities/Leduc">Leduc</a>
            <a href="/cities/Lethbridge">Lethbridge</a>
            <a href="/cities/Lloydminster">Lloydminster</a>
            <a href="/cities/MedicineHat">Medicine Hat</a>
            <a href="/cities/PeaceRiver">Peace River</a>
            <a href="/cities/RedDeer">Red Deer</a>
            <a href="/cities/SherwoodPark">Sherwood Park</a>
            <a href="/cities/SpruceGrove">Spruce Grove</a>
            <a href="/cities/StAlbert">St. Albert</a>
            <a href="/cities/SylvanLake">Sylvan Lake</a>
            <a href="/cities/Whitecourt">Whitecourt</a>
        </div>
    </div>
    <div>
        <h3>Alberta Home Estimates</h3>
        <div class="towns">
            <a href="/worth/Airdrie">Airdrie</a>
            <a href="/worth/Edmonton">Edmonton</a>
            <a href="/worth/Calgary">Calgary</a>
            <a href="/worth/Canmore">Canmore</a>
            <a href="/worth/Cochrane">Cochrane</a>
            <a href="/worth/ColdLake">Cold Lake</a>
            <a href="/worth/Edson">Edson</a>
            <a href="/worth/FortMcmurray">Fort McMurray</a>
            <a href="/worth/GrandePrairie">Grande Prairie</a>
            <a href="/worth/LacLaBiche">Lac La Biche</a>
            <a href="/worth/Leduc">Leduc</a>
            <a href="/worth/Lethbridge">Lethbridge</a>
            <a href="/worth/Lloydminster">Lloydminster</a>
            <a href="/worth/MedicineHat">Medicine Hat</a>
            <a href="/worth/PeaceRiver">Peace River</a>
            <a href="/worth/RedDeer">Red Deer</a>
            <a href="/worth/SherwoodPark">Sherwood Park</a>
            <a href="/worth/SpruceGrove">Spruce Grove</a>
            <a href="/worth/StAlbert">St. Albert</a>
            <a href="/worth/SylvanLake">Sylvan Lake</a>
        </div>
    </div>
   
</section>
<style>
    #estimates {
        background-color: #edf3f2;
        padding: 2rem;
    }

    #estimates h3 {
        font-family: var(--dm);
        color: black;
    }

    #estimates>div {
        border-top: 2px solid gray;
        padding: 1rem .25rem;
    }

    .towns {
        display: grid;
        gap: 10px;
        width: fit-content;
        max-width: 90vw;
        margin: 10px 0px;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        flex-wrap: wrap;
    }

    .towns a {
        text-overflow: ellipsis;
        color: black;
        position: relative;
        text-decoration: none;
        max-width: fit-content;
        padding: 5px 10px;
    }

    .towns a:hover {
        color: #3177d8;
    }


    .towns a::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        border-radius: 2px;
        background-color: #3177d8;
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
    }

    .towns a:hover::before {
        transform-origin: left;
        transform: scaleX(1);
    }
</style>