<section id="estimates">
    <div>
        <h3>Home Search - Popular Cities</h3>
        <div class="towns">
            <a href="/cities/Edmonton">Edmonton</a>
            <a href="/cities/Calgary">Calgary</a>
            <a href="/cities/Canmore">Canmore</a>
            <a href="/cities/Chestermere">Chestermere</a>
            <a href="/cities/Cochrane">Cochrane</a>
            <a href="/cities/ColdLake">Cold Lake</a>
            <a href="/cities/Edson">Edson</a>
            <a href="/cities/FortMcmurray">Fort McMurray</a>
            <a href="/cities/FortSaskatchewan">Fort Saskatchewan</a>
            <a href="/cities/GrandePrairie">Grande Prairie</a>
            <a href="/cities/LacLaBiche">Lac La Biche</a>
            <a href="/cities/Lacombe">Lacombe</a>
            <a href="/cities/Leduc">Leduc</a>
            <a href="/cities/Lethbridge">Lethbridge</a>
            <a href="/cities/Lloydminster">Lloydminster</a>
            <a href="/cities/MedicineHat">Medicine Hat</a>
            <a href="/cities/PeaceRiver">Peace River</a>
            <a href="/cities/RedDeer">Red Deer</a>
            <a href="/cities/SherwoodPark">Sherwood Park</a>
            <a href="/cities/SpruceGrove">Spruce Grove</a>
            <a href="/cities/StAlbert">St. Albert</a>
            <a href="/cities/SylvanLake">Sylvan Lake</a>
            <a href="/cities/Whitecourt">Whitecourt</a>
        </div>
    </div>
    <div>
        <h3>Alberta Home Estimates</h3>
        <div class="towns">
            <a href="/worth/Airdrie">Airdrie</a>
            <a href="/worth/Edmonton">Edmonton</a>
            <a href="/worth/Calgary">Calgary</a>
            <a href="/worth/Canmore">Canmore</a>
            <a href="/worth/Cochrane">Cochrane</a>
            <a href="/worth/ColdLake">Cold Lake</a>
            <a href="/worth/Edson">Edson</a>
            <a href="/worth/FortMcmurray">Fort McMurray</a>
            <a href="/worth/GrandePrairie">Grande Prairie</a>
            <a href="/worth/LacLaBiche">Lac La Biche</a>
            <a href="/worth/Leduc">Leduc</a>
            <a href="/worth/Lethbridge">Lethbridge</a>
            <a href="/worth/Lloydminster">Lloydminster</a>
            <a href="/worth/MedicineHat">Medicine Hat</a>
            <a href="/worth/PeaceRiver">Peace River</a>
            <a href="/worth/RedDeer">Red Deer</a>
            <a href="/worth/SherwoodPark">Sherwood Park</a>
            <a href="/worth/SpruceGrove">Spruce Grove</a>
            <a href="/worth/StAlbert">St. Albert</a>
            <a href="/worth/SylvanLake">Sylvan Lake</a>
        </div>
    </div>
    <div>
        <h3>Manitoba Home Estimates</h3>
        <div class="towns">
            <a href="/worth/Winnipeg">Winnipeg</a>
        </div>
    </div>
    <div>
        <h3>Saskatchewan Home Estimates</h3>
        <div class="towns">
            <a href="/worth/Regina">Regina</a>
            <a href="/worth/Saskastoon">Saskatoon</a>
        </div>
    </div>
</section>
<style>
    #estimates {
        background-color: teal;
        padding: 2rem;
    }

    #estimates h3 {
        color: white;
    }

    #estimates>div {
        border-top: 2px solid white;
        padding: 1rem .25rem;
    }

    .towns {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        width: fit-content;
        max-width: 90vw;
        margin: 10px 0px;
    }

    .towns a {
        flex: 1;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-right: 10px;
        text-align: center;
        padding: 5px;
        background-color: #dcdcdc;
        border-radius: 5px;
        text-decoration: none;
        color: #000000;
        width: 150px;
        max-width: 30vw;
        border: 1px solid teal;
    }

    .towns a:hover {
        background-color: teal;
        color: white;
        border-color: white;
    }
</style>