<section id="faqs">
    <h1>Questions and Answers</h1>
    <div class="q-a-container">
        <div class="q">
            <div class="q-text">How do I know that I’m getting a fair price from Trusted Advisers
                Realty?</div>
            <div class="q-icon"><i class="fas fa-plus"></i></div>
        </div>
        <div class="a">We've built the Swift Sale to pay 90% of current market value. Even if we re-sell
            the home for more than what was originally valued, you'll get a second payment for the full
            90% of that overage! A common misunderstanding about Trusted Advisers Realty is to think of
            us as 'house flippers' who buy low to sell high and keep all the profit. We don't make
            'low-ball' offers because we're not house flippers. Our business model is a fee for service.
            The service we provide is the certainty of a sale without the hassles of a listing and all
            the showings. The fee we charge is 10% of value, which includes our commissions, costs, and
            all other fees.</div>
    </div>

    <div class="q-a-container">
        <div class="q">
            <div class="q-text">What if I disagree with the appraised value?</div>
            <div class="q-icon"><i class="fas fa-plus"></i></div>
        </div>
        <div class="a">Let us know. If you think something was missed, we'll review it with you and make
            sure that we understand your homes full value. We normally set the asking price higher, and
            often sell the homes we buy for more than what’s appraised. If this happens on the home you
            sell to Trusted Advisers Realty, you get 90% of the overage too.</div>
    </div>

    <div class="q-a-container">
        <div class="q">
            <div class="q-text">Is it possible to get more than 90% of appraised value?</div>
            <div class="q-icon"><i class="fas fa-plus"></i></div>
        </div>
        <div class="a">Yes. Sometimes our homes receive competing offers from more than 1 buyer and the
            result may be a sale at more than the asking price, and more than the appraised value. If we
            can sell the home for more than the appraised value, you'll get a second payment for 90% of
            the overage too!</div>
    </div>

    <div class="q-a-container">
        <div class="q">
            <div class="q-text">What is Trusted Advisers Realty?</div>
            <div class="q-icon"><i class="fas fa-plus"></i></div>
        </div>
        <div class="a">Trusted Advisers Realty is a licensed real estate brokerage, blended with
            finance, and technology. We apply our finances to make our customers' selling and buying
            process easier, and more profitable. Trusted Advisers Realty makes an offer to buy your home
            – unlike other real estate brokerages that only offer to ‘list’ your home on the local MLS,
            you can activate our offer to skip showings. If you want to test the market with an MLS
            listing before activating our offer, you can do that – you don’t pay anything to ‘list’ with
            Trusted Advisers Realty and only pay a discounted commission if/when you sell.</div>
    </div>

    <div class="q-a-container">
        <div class="q">
            <div class="q-text">What's the catch?</div>
            <div class="q-icon"><i class="fas fa-plus"></i></div>
        </div>
        <div class="a">We get this question almost every day, actually. There's really no catch. When
            you want to sell, you want the process to be as easy as possible, and a fair selling price.
            We lead with an offer to buy your home! You can activate our offer for a moving day that
            works best for you. We pay 90% of appraised value PLUS 90% of any overage. The value is set
            by an independent appraisal. You can activate our offer and skip showings. You may also test
            the market for a higher sale price before activating our offer – if you choose.</div>
    </div>

    <div class="q-a-container">
        <div class="q">
            <div class="q-text">What if I have more questions?</div>
            <div class="q-icon"><i class="fas fa-plus"></i></div>
        </div>
        <div class="a">Let’s set a time to discuss any questions you have. You can arrange a call for a
            day/time that works for you here. We’ll call you to review your questions.</div>
    </div>
    <div class="faq-btn-container">
        <a href="#" class="learn-more-link">See more FAQs →</a>
    </div>
</section>
<script>

    document.querySelectorAll('.q-a-container').forEach(qa => {
        qa.addEventListener('click', () => {

            qa.classList.toggle("open");
            let icon = qa.querySelector('i');
            if (icon.classList.contains('fa-plus')) {
                icon.classList.remove('fa-plus');
                icon.classList.add('fa-minus')
            } else {
                icon.classList.remove('fa-minus');
                icon.classList.add('fa-plus')
            }
        })
    })
</script>
<style>
    .faq-btn-container {
        margin: 10px 5rem;
    }

    #faqs {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #faqs h1 {
        font-size: 2.67rem;
        color: var(--btn-color);
        font-family: var(--dm);
        text-align: center;
    }


    .q-a-container {
        margin: 16px auto;
        max-width: 90vw;
        border: 1px solid rgba(0, 128, 128, 0.133);
        padding: 20px 10px;
    }

    .q {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 10px 0;
    }

    .q * {
        font-weight: 600;
        font-family: Quicksand;
    }

    .q i {
        font-family: "Font Awesome 6 Free";
    }

    .q-text {
        flex: 1;
    }

    .q-icon {
        margin-right: 10px;
        font-size: 20px;
    }

    .a {
        display: none;
        margin-top: 10px;
        padding: 10px;
        border-left: 2px solid var(--orange);
        margin-left: 10px;
    }

    .q-a-container.open {
        border-color: teal;
        padding: 10px;
    }

    .q-a-container.open .q * {
        color: #ffa600;
    }

    .q-a-container.open .a {
        display: block;
    }

    .faq-btn-container {
        padding: 1rem;
    }

    .faq-btn {
        background: white;
        border-color: rgba(0, 128, 128, 0.397);
        color: teal;
        margin: 1rem auto;
    }

    .faq-btn:hover {
        border-color: var(--orange);
    }
</style>