<!DOCTYPE html>
<html lang="en">
<%- include('head') %>

  <body>
    <%- include('nav') %>
      <section id="body">
        <div class="step-title">
          <h2 class="step-description">Your basic information</h2>
        </div>
        <div id="step-1" class="step active">
          <form action="/home-valuation/appointment?step=1" method="post" id="form-1">
            <div class="input-card">
              <label for="firstName">
                First Name
              </label>
              <input type="text" name="firstName" id="firstName">
            </div>
            <div class="input-card">
              <label for="lastName">
                Last Name
              </label>
              <input type="text" name="lastName" id="lastName">
            </div>
          </form>
        </div>
        <div id="step-2" class="step">
          <div id="form-2">
            <div class="input-card">
              <label for="email">
                Your Email
              </label>
              <input type="email" name="email" id="email">
            </div>
            <div class="input-card">
              <label for="phone">
                Your Phone Number
              </label>
              <input type="tel" name="phone" id="phone">
            </div>
          </div>
        </div>
        <div id="step-3" class="step">
          <div id="form-3">
            <div class="input-card">
              <label for="address">Property address</label>
              <input type="text" name="address" id="address">
            </div>
            <div class="input-card">
              <label for="date">Date schedule</label>
              <input type="date" name="date" id="date">
            </div>
            <div class="input-card">
              <label for="time">Time schedule</label>
              <input type="time" name="time" id="time">
            </div>
          </div>
        </div>
        <div class="step-progress">
          <div class="progress-at passed">1</div>
          <div class="progress-dash passed"></div>
          <div class="progress-at active">2</div>
          <div class="progress-dash"></div>
          <div class="progress-at">3</div>
          <div class="progress-dash"></div>
          <div class="progress-at done"><i class="fas fa-check"></i></div>
        </div>
      </section>
      <%- include('footer') %>
  </body>
  <style>
    #body {
      margin-top: 100px;
    }

    .input-card {
      margin: 10px;
    }

    .input-card input {
      border: 1px solid gray;
    }

    .step{
      display: none;
    }

    .step-title{
      text-align: center;
    }

    .step.active{
      display: block;
      width: fit-content;
      margin: 40px auto;
    }

    .step-progress{
      display: grid;
      grid-template-columns: repeat(7, auto);
      width: fit-content;
      margin: 10px auto;
      align-items: center;
    }

    .progress-at{
      font-size: 25px;
      border-radius: 30px;
      height: 40px;
      width: 40px;
      text-align: center;
      border: 1px solid gray;
      color: gray;
      display: flex;
      align-items: stretch;
      align-content: space-around;
      flex-wrap: wrap;
      justify-content: center;
    }

    .progress-at.active{
      border-color: var(--blue);
      color: var(--blue);
    }

    .progress-at.passed{
      color: white;
      background-color: var(--blue);
      border-color: var(--blue);
    }

    .progress-dash {
      width: 40px;
      height: 3px;
      background-color: gray;
    }

    .progress-dash.passed{
      background-color: var(--blue);
    }
  </style>

</html>