<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Valuation - Trusted Advisers Realty</title>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <script src="/scripts/index.js" defer></script>
        <link rel="stylesheet" href="/styles/index.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@beta/bundled/locomotive-scroll.min.js"></script>
        <script>
            (function () {
                const locomotiveScroll = new LocomotiveScroll();
            })();
        </script>
        <meta data-react-helmet="true"
            content="Trusted Advisers Realty is a real estate company based in Edmonton, Alberta. We offer expert advice and guidance to help you find your dream home with 100% confidence"
            name="description">
        <meta data-react-helmet="true" content="Trusted Advisers Realty, the triple guarantee brokerage in Alberta"
            property="og:title">
        <meta data-react-helmet="true"
            content="Trusted Advisers Realty is a real estate company based in Edmonton, Alberta. We offer expert advice and guidance to help you find your dream home with 100% confidence."
            property="og:description">
        <meta data-react-helmet="true" content="/images/icon.svg" property="og:image">
        <meta data-react-helmet="true" content="summary_large_image" name="twitter:card">
        <meta data-react-helmet="true" content="/images/tar logo-bodered.png" name="twitter:image">
        <link data-react-helmet="true" href="https://emonton.kvresident/" rel="canonical">
        <link data-react-helmet="true" href="/imges/icon.svg" x="" y="" height="" width="" />
        <link data-react-helmet="true" href="https://edmonton.kvresident.com" rel="preconnect">
        <link data-react-helmet="true" href="/favicon.ico" rel="icon" sizes="any">
        <link data-react-helmet="true" href="favicon.svg" rel="icon" type="image/svg+xml">
        <link data-react-helmet="true" href="/apple-touch-icon-192x192.png" rel="apple-touch-icon" sizes="192x192">
        <link data-react-helmet="true" href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
        <link data-react-helmet="true" href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
        <link data-react-helmet="true" href="/site.webmanifest" rel="manifest">
    
    </head>
<body>
    <%- include("nav") %>
    <section id="valuation-content">

    </section>
    <%- include('footer') %>
</body>
</html>