<!DOCTYPE html>
<html lang="en">

<%- include('head') %>

    <body>
        <%- include('nav') %>
            <section id="header">
                <div class="header-container">

                    <div class="header-details">
                        <h1>List on the local MLS</h1>
                        <div class="">

                            <div class="h-search-bar">
                                <i class="fas fa-location-dot"></i>
                                <input type="email" name="email" id="header-email" placeholder="Enter your address">
                                <button>See My Estimate</button>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            
            <section id="hiw" class="hiw">
                <div class="hiw-left">
                    <div class="hiw-img">

                    </div>
                </div>
                <div class="hiw-right">
                    <h5> Test the market before accepting our offer! </h5>
                    <p>Listing your home and tolerating showings is not a requirement at Sweetly, but if you want to test the market, you can do so for as long as you want. List your home with Sweetly for a weekend, a week, a month or for as long as you want. There’s no maximum or minimum listing period with Sweetly. We'll help you choose the right asking price, guide you through the process, and identify what improvements buyers will pay for. Listing with Sweetly means you can activate a Swift Sale at any time - without extra costs which may exist if you listed with any other brokerage.</p>
                </div>
            </section>
            <section id="hiw-more">
                <div class="m-h-header">
                    <h2>Benefits of Listing with Sweetly</h2>
                </div>
                <div class="m-h-body">
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-1">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5>Professional Guidance </h5>
                            <p>Our local experts have the knowledge, experience, and the tools to guide you through every step of the selling process. We’ll present you with the options and let you make all the decisions to ensure that your real estate experience is pleasant and memorable for the right reasons.</p>
                        </div>
                    </div>
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-2">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5> Our Swift Sale and our Marketing = Your Advantage </h5>
                            <p>You won’t need to wait on a ‘subject to sale’ condition for the buyer to list and sell their home, because we can buy it! We also spend more money advertising than any other brokerage we know of, so it makes sense for your home to be seen where the buyers go.</p>
                        </div>
                    </div>
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-3">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5> Home Improvements to Maximize Your Sale Price </h5>
                            <p>You can access up to $25,000 to make the right improvements to net you a higher sale price. You simply pay us back when your home sells.</p>
                        </div>
                    </div>
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-4">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5> Fall-back to a Swift Sale </h5>
                            <p>If you aren’t getting the results you want, or if you find the perfect home and want to secure it without the costs of owning 2 homes at once, you’ll always have a Swift Sale available at no additional cost.</p>
                        </div>
                    </div>
                </div>
            </section>
           
            <section id="requirements">
                <div class="req-header">
                    <h2>A Swift Sale Is Right For You If You:</h2>
                </div>
                <div class="req-body">
                    <div class="req-img">
                        <img src="/images/expert-explaining-to-a-couple.jpg" alt="">
                    </div>
                    <ul class="req-list">
                        <li>Value price over convenience</li>
                        <li>Have time to prep & show your home</li>
                        <li>Prefer professional in-home guidance</li>
                        <li>Want to consider value adding improvements</li>
                        <li>Haven’t found your next home</li>
                        <li>Have a rural, recreational, or other type of home to sell</li>
                    </ul>
                </div>
                <div class="deals-btn">
                    <button>Start</button>
                </div>
            </section>
            
            <section id="faqs">
                <h1>Questions and Answers</h1>
                <div class="q-a-container" onclick="toggleAnswer(this);">
                    <div class="q">
                        <div class="q-text">How do I know that I’m getting a fair price from Edmonton Real Estate
                            Experts?</div>
                        <div class="q-icon"><i class="fas fa-chevron-down"></i></div>
                    </div>
                    <div class="a">We've built the Swift Sale to pay 90% of current market value. Even if we re-sell the
                        home for more than what was originally valued, you'll get a second payment for the full 90% of
                        that overage! A common misunderstanding about Edmonton Real Estate Experts is to think of us as
                        'house flippers' who buy low to sell high and keep all the profit. We don't make 'low-ball'
                        offers because we're not house flippers. Our business model is a fee for service. The service we
                        provide is the certainty of a sale without the hassles of a listing and all the showings. The
                        fee we charge is 10% of value, which includes our commissions, costs, and all other fees.</div>
                </div>

                <div class="q-a-container" onclick="toggleAnswer(this);">
                    <div class="q">
                        <div class="q-text">What if I disagree with the appraised value?</div>
                        <div class="q-icon"><i class="fas fa-chevron-down"></i></div>
                    </div>
                    <div class="a">Let us know. If you think something was missed, we'll review it with you and make
                        sure that we understand your homes full value. We normally set the asking price higher, and
                        often sell the homes we buy for more than what’s appraised. If this happens on the home you sell
                        to Edmonton Real Estate Experts, you get 90% of the overage too.</div>
                </div>

                <div class="q-a-container" onclick="toggleAnswer(this);">
                    <div class="q">
                        <div class="q-text">Is it possible to get more than 90% of appraised value?</div>
                        <div class="q-icon"><i class="fas fa-chevron-down"></i></div>
                    </div>
                    <div class="a">Yes. Sometimes our homes receive competing offers from more than 1 buyer and the
                        result may be a sale at more than the asking price, and more than the appraised value. If we can
                        sell the home for more than the appraised value, you'll get a second payment for 90% of the
                        overage too!</div>
                </div>

                <div class="q-a-container" onclick="toggleAnswer(this);">
                    <div class="q">
                        <div class="q-text">What is Edmonton Real Estate Experts?</div>
                        <div class="q-icon"><i class="fas fa-chevron-down"></i></div>
                    </div>
                    <div class="a">Edmonton Real Estate Experts is a licensed real estate brokerage, blended with
                        finance, and technology. We apply our finances to make our customers' selling and buying process
                        easier, and more profitable. Edmonton Real Estate Experts makes an offer to buy your home –
                        unlike other real estate brokerages that only offer to ‘list’ your home on the local MLS, you
                        can activate our offer to skip showings. If you want to test the market with an MLS listing
                        before activating our offer, you can do that – you don’t pay anything to ‘list’ with Edmonton
                        Real Estate Experts and only pay a discounted commission if/when you sell.</div>
                </div>

                <div class="q-a-container" onclick="toggleAnswer(this);">
                    <div class="q">
                        <div class="q-text">What's the catch?</div>
                        <div class="q-icon"><i class="fas fa-chevron-down"></i></div>
                    </div>
                    <div class="a">We get this question almost every day, actually. There's really no catch. When you
                        want to sell, you want the process to be as easy as possible, and a fair selling price. We lead
                        with an offer to buy your home! You can activate our offer for a moving day that works best for
                        you. We pay 90% of appraised value PLUS 90% of any overage. The value is set by an independent
                        appraisal. You can activate our offer and skip showings. You may also test the market for a
                        higher sale price before activating our offer – if you choose.</div>
                </div>

                <div class="q-a-container" onclick="toggleAnswer(this);">
                    <div class="q">
                        <div class="q-text">What if I have more questions?</div>
                        <div class="q-icon"><i class="fas fa-chevron-down"></i></div>
                    </div>
                    <div class="a">Let’s set a time to discuss any questions you have. You can arrange a call for a
                        day/time that works for you here. We’ll call you to review your questions.</div>
                </div>
                <div class="faq-btn-container">
                    <button class="faq-btn">View All FAQs</button>
                </div>
            </section>
            <%- include('estimates') %>
                <%- include('footer') %>
    </body>

    <style>
        p {
            font-size: normal;
        }

        #header {
            background: url(/images/beautiful-house-beside-a-lake.jpg);
            background-size: cover;
            height: 70vh;
            background-position: center;
        }

        .h-search-bar {
            grid-template-columns: auto 1fr auto;
            gap: .5rem;
        }

        .h-search-bar * {
            font-size: medium;
        }

        .h-search-bar i {
            padding: 0px 5px;
            font-size: large;
        }

        .hiw {
            display: grid;
            grid-template-rows: 1fr auto;
            gap: 1rem;
            max-width: 90vw;
            width: fit-content;
            margin: 25px auto;
            padding: 15px;
            background-color: rgba(203, 203, 203, 0.5);
            box-shadow: 1px 1px 5px 2px gray;
            border-radius: 5px;
        }

        .hiw-img {
            background: url(/images/woman-celebrating-successful-swift-sale.jpg);
            aspect-ratio: 3/2;
            background-size: contain !important;
            width: 300px;
            max-width: 90vw;
            margin: 5px auto;
            border-radius: 5px;
        }

        .hiw-img.e-1 {            
            background-image: url(/images/pro-real-estate-guidance.jpg);
        }

        .hiw-img.e-2 {
            background: url(/images/pexels-andrea-piacquadio-3756681.jpg);
        }

        .hiw-img.e-3 {
            background: url(/images/pexels-max-rahubovskiy-6758779.jpg);
        }

        .hiw-img.e-4 {
            background: url(/images/pexels-kindel-media-7578905.jpg);
            aspect-ratio: 16/9;
        }

        .hiw-right {
            max-width: 80vw;
            margin: 0px auto;
        }

        .hiw h5 {
            font-family: var(--dm);
            font-size: x-large;
            padding: 10px 5px;
        }

        .hiw p {
            font-size: 1rem;
        }

        @media screen and (min-width: 768px) {
            .hiw {
                grid-template-columns: 350px auto;
            }

            .hiw p {
                font-size: 1.1rem;
            }
        }

        .m-h-header {
            width: fit-content;
            padding: 10px;
            margin: 5px auto;
        }

        .m-h-header h2,
        #requirements h2 {
            text-align: center;
            font-size: 2.4rem;
        }

        @media screen and (min-width: 1080px) {
            .hiw {
                max-width: 75vw;
                margin: 10px auto;
                border-radius: 5px;
            }

            .hiw p {
                font-size: 1.2rem;
            }
        }

        .req-list li::before {
            display: inline-block;
            content: "\2713";
            margin-right: 8px;
            color: var(--orange);
            font-weight: 600;
        }

        #requirements {
            padding: 10px 5vw;

        }

        .req-img {
            text-align: center;
        }

        .req-img img {
            width: 60vw;
            max-width: 500px;
            border-radius: 10px;
        }

        .req-body {
            width: fit-content;
            margin: 10px auto;
            margin-bottom: 1rem;
            border-radius: 4px;
            padding: 15px;
            box-shadow: 1px 1px 5px 2px #808080c9;
        }

        .req-list {
            width: fit-content;
            margin: 10px auto;
        }

        .req-list li {
            list-style: none;
            list-style-type: none;
            margin: 0;
            font-family: "adobe-garamond-pro", serif;
            transition: ease 400ms;
            display: flex;
            align-items: center;
            padding: .3rem;
        }

        @media screen and (min-width: 768px) {
            .req-list {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1rem;
            }
        }
        
    </style>

</html>