<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edmonton Real Estate Experts | Sign Up</title>
  <link rel="shortcut icon" href="/favicon.svg" type="image/x-icon">
</head>
<body>
  <div class="container">
    <nav>
      <div class="company-brand" onclick="location.href='/'">
        <img src="/images/edmonton full logo.svg" alt="Edmonton Real Estate Experts full logo">
      </div>
      
    </nav>
    <form action="login" method="POST">
      <fieldset>
        <legend>
          Login
        </legend>
        <div class="form-container">
          
          
          <div class="input-container">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
          </div>
          <div class="input-container">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
          </div>
          <div class="submit-container">
            <button type="submit">Login</button>
          </div>
        </div>
      </fieldset>
      
    </form>
  </div>
  <style>
    @charset "utf-8";

    @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;800&family=DM+Serif+Display&display=swap');
    @import url("https://use.typekit.net/psb8eyo.css");

    :root{
        --orange: rgb(255, 182, 0);
        --text-color: #ffa600;
        --dm: "DM Serif Display";
    }
    
    *{
        list-style-type: none;
        padding: 0;
        margin: 0;
        font-family: "adobe-garamond-pro", serif;
        font-weight: 400;
        transition: ease 400ms;
    }
    ::-webkit-scrollbar{
        width:5px;
    }
    ::-webkit-scrollbar-thumb{
        background-color: rgb(4, 195, 195);
        border-radius: 5px;
    }
    form{
      background-color: whitesmoke;
      padding: 15px;
      border-radius: 10px;
    }
    fieldset{
      padding: .5rem 1rem;
      border: 1px solid teal;
      border-radius: 5px;
    }
    legend{
        font-family: var(--dm);
        padding: 0 .5rem;
    }

    .container{
      max-width: 90vw;
      width: fit-content;
      margin: 10px auto;
    }
    .company-brand{
      width: fit-content;
      margin: 10px auto;
      cursor: pointer;
    }
    img{
      width: 200px;
    }
    nav{
      display: grid;
      align-items: center;
      gap: 2rem;
    }

    .input-container{
      display: grid;
      grid-template-rows: 1fr 1fr;
      margin: 10px 0;
      padding: 5px 10px;
      max-width: 60vw;
      width: 300px;
      border-radius: 5px;
      border: 1px solid white;
      background-color: rgb(240, 240, 240);
    }

    input{
      outline: none;
      border: 1px solid teal;
      border-radius: 2.5px;
      padding: 2.5px;
    }
    button{
      display: block;
      padding: 5px 10px;
      margin: 10px auto;
      background-color: teal;
      font-weight: bold;
      border-radius: 5px;
      color: white;
      border: 1px solid teal;
      cursor: pointer;
    }
    button:hover{
      background-color: transparent;
      color: teal;
    }
   
  </style>
</body>
</html>
