<div id="map-reviews">

    <div class="review-widget_net" data-uuid="9ac6cfd0-cc9c-4264-8b15-5a115d23fd34" data-template="10" data-lang="en"
        data-theme="light"></div>
    <script src="https://grwapi.net/widget.min.js"></script>

<br>
    <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
    <div class="elfsight-app-c567ba4c-c4ab-41b0-adc4-58effb979e30" data-elfsight-app-lazy></div>
</div>

<script>
    const reviews = [
        {
            "link": "https://g.co/kgs/kRPuFv",
            "name": "Akinsulire Femi",
            "stars": 5,
            "comment": "Justin went above and beyond to get us a good deal. Being a first time home buyer i was confused about a lot of steps in the process. Justin was patient and provides guidance all through.",
            "createdAt": "2023-11-05T06:00:00.000Z"
        },
        {
            "link": "https://g.co/kgs/v9pUcN",
            "name": "Friday Lion",
            "stars": 5,
            "comment": "Justin Iyizoba & Associates is the real deal. They got it done fast, friendly and professionally above all. I would use them again and again. And would recommend them to anyone who needs a trusted realtor.",
            "createdAt": "2023-11-05T06:00:00.000Z"
        },
        {
            "link": "https://g.co/kgs/T9iGc5",
            "name": "Bil Berg",
            "stars": 5,
            "comment": "Justin was laser focused on the outcome, and he was resourceful in achieving the desired result.\n    He provided support and guidance throughout the buying process.",
            "createdAt": "2023-11-05T06:00:00.000Z"
        },
        {
            "link": "https://g.co/kgs/MoV1TR",
            "name": "John 'Dare AFOLABI, crsp",
            "stars": 5,
            "comment": "Good exchanges. Satisfactory follow up support. Excellent delivery. We will surely do business together again. Kudos!",
            "createdAt": "2023-08-05T06:00:00.000Z"
        },
        {
            "link": "https://g.co/kgs/hUoopg",
            "name": "Best Nelson",
            "stars": 5,
            "comment": "Working with Justin was a very intriguing experience. He was very professional, committed and always willing to go above and beyond in meeting my expectations during the viewings. I will certainly use him for my next property purchase and would definitely recommend him to any potential home buyer. Keep up the good work, Justin!",
            "createdAt": "2022-11-05T06:00:00.000Z"
        },
        {
            "link": "https://g.co/kgs/y5VnXh",
            "name": "Chika A",
            "stars": 5,
            "comment": "I can't thank Justin enough for helping us purchase our new home below market value!!! What's more? We didn't get to see the house until the closing date! Everything was done remotely. Can you beat that? The best part is that the house is almost brand new and move in ready!\n    I highly recommend Justin. You won't regret it!",
            "createdAt": "2022-11-05T06:00:00.000Z"
        }
    ]

</script>