<div>

    <nav id="navbar">
        <div class="company-logo">
            <a href="/" title="Back to home">
                <img src="/images/tar logo-bodered.png" alt="Trusted Advisers Realty">
            </a>
        </div>
        <div class="options-container">
            <div class="nav-strip" id="navStrip">
                <div class="nav-buttons">
                    <div class="nav-estimates-btn-container">
                        <button class="estimates">
                            <span>See my estimates</span>
                        </button>
                    </div>
                    <div>
                        <button class="phone-link">
                            <a href="tel:+18778504448">
                                <i class="fa-solid fa-phone"></i>
                                <span>1-877-850-4448</span>
                            </a>
                        </button>
                    </div>
                </div>
                <div class="open-close-button" id="svg-container">
                    <svg viewBox="0 0 80 80" id="open-close-icon">
                        <rect x="20" y="10" width="60" height="10" fill="teal" rx="5" ry="5" class="top-rect"></rect>
                        <rect x="0" y="35" width="80" height="10" fill="teal" rx="5" ry="5" class="middle-rect"></rect>
                        <rect x="10" y="60" width="70" height="10" fill="teal" rx="5" ry="5" class="bottom-rect"></rect>

                    </svg>
                </div>
            </div>
            <div id="menu" class="hidden">
                <div class="menu-left"></div>
                <div class="menu-right" data-scroll-section>
                    <ul id="level1">
                        <li class="level1-option">
                            <div class="menu-title">
                                <span>Selling</span>
                                <i class="fas fa-plus"></i>
                            </div>
                            <ul class="menu-content collapsed">
                                <li class="level2-option">
                                    <a href="/sell-to-us">Sell to us</a>
                                </li>
                                <li class="level2-option">
                                    <a href="/swift-sale">Swift sale</a>
                                </li>
                                <li class="level2-option">
                                    <a href="/local-mls">List with us</a>
                                </li>
                                <li class="level2-option">Creative listing</li>
                                <li class="level2-option">Free listing</li>
                            </ul>
                        </li>
                        <li class="level1-option">
                            <div class="menu-title">
                                <span>Buying</span>
                                <i class="fas fa-plus"></i>
                            </div>
                            <ul class="menu-content collapsed">
                                <li class="level2-option">New to Canada</li>
                                <li class="level2-option">First time buyers</li>
                                <li class="level2-option">Rent to own buyers</li>
                            </ul>
                        </li>
                        <li class="level1-option">
                            <div class="menu-title">
                                <span>Investing</span>
                                <i class="fas fa-plus"></i>
                            </div>
                            <ul class="menu-content collapsed">
                                <li class="level2-option">Single family investing</li>
                                <li class="level2-option">Multiple family investment</li>
                                <li class="level2-option">Join our investor community</li>
                            </ul>
                        </li>
                        <li class="level1-option">
                            <div class="menu-title">
                                <span>Property Management</span>
                                <i class="fas fa-plus"></i>
                            </div>
                            <ul class="menu-content collapsed">
                                <li class="level2-option">Tenants</li>
                                <li class="level2-option">Land lords</li>
                                <li class="level2-option">Post your rent-free</li>
                            </ul>
                        </li>
                        <li class="acc-nav">
                            <button class="login" onclick="location.href='/account/login'">Log In</button>
                            <button class="sign-up" onclick="location.href='/account/signup'">Sign Up</button>
                        </li>
                        <div>
                            <a href="/why-us" class="learn-more-link">Why us</a>
                        </div>
                        <div>
                            <a href="/agent/signup" class="learn-more-link">Cooperating agents</a>
                        </div>
                    </ul>
                    <div class="menu-bottom-right">
                    </div>
                </div>
            </div>
        </div>

    </nav>
    <style>
        nav {
            position: fixed;
            top: 0;
            right: 0;
            width: 100vw;
            z-index: 990;
        }


        nav .company-logo {
            position: fixed;
            top: 0;
            left: 0;
            padding: 10px;
            z-index: 999;
        }

        nav .company-logo img {
            height: 50px;
            width: 50px;
        }

        .nav-strip {
            display: grid;
            grid-template-columns: 1fr auto;
            background-color: rgba(245, 245, 245, 0.971);
            align-items: center;
            position: fixed;
            top: 0;
            right: 0;
            width: 100vw;
            z-index: 10;
            padding: 15px 0px;
        }

        .nav-strip.collapsed-nav{
            background-color: whitesmoke;
        }
        .nav-buttons {
            text-align: left;
            display: grid;
            grid-template-columns: 1fr auto;
            gap: 10px;
        }

        .nav-estimates-btn-container {
            text-align: right;
            display: grid;
            align-items: center;
            justify-content: end;
        }

        .nav-buttons>div:nth-of-type(2) {
            text-align: center;

        }

        @media (min-width: 768px) {
            .nav-buttons {
                grid-template-columns: 1fr 300px;
            }
        }

        nav a.learn-more-link{
            color: #3177d8;
        }
        nav a.learn-more-link:after, nav a.learn-more-link:before{
            border-bottom-color: #3177d8;
        }
        .phone-link {
            list-style-type: none;
            font-family: rubik;
            transition: ease 400ms;
            padding: 5px 10px;
            border-radius: 5px;
            color: white;
            background-color: transparent;
            border: 2px solid teal;
            margin-right: 5px;
            display: inline-block;
            width: fit-content;
        }

        .phone-link i {
            color: teal;
        }

        .phone-link a {
            list-style-type: none;
            padding: 0;
            margin: 0;
            transition: ease 400ms;
            text-decoration: none;
            color: black;
            font-size: small;
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 5px;
            align-items: center;
        }

        @media screen and (max-width: 768px) {
            .phone-link {
                display: none;
            }
        }

        .phone-link:hover {
            background-color: teal;
        }

        .phone-link:hover *,
        .phone-link a:hover * {
            color: white;
            text-decoration: none;
        }


        button.estimates {

            list-style-type: none;
            transition: ease 400ms;
            padding: 5px 10px;
            border-radius: 5px;
            background-color: rgb(107, 109, 186);
            border: 2px solid rgb(102, 103, 171);
            color: white;
            font-family: rubik;
            width: fit-content;
        }

        button.estimates:hover {
            background-color: white;
            color: rgb(102, 103, 171);
            transition: 400ms ease;
        }


        .open-close-button {
            text-align: right;
            padding: 5px;
            padding-right: 25px;
        }



        .open-close-button svg {
            height: 35px;
            cursor: pointer;
        }

        @media (max-width: 400px) {
            button.estimates span {
                font-size: 12px;
            }

            .open-close-button {
                padding: 3px;
            }

            .open-close-button svg {
                height: 30px;
            }
        }

        .x-shape .top-rect {
            transform: translateY(4.2px) translateX(-31.8px) rotate(45deg);
            fill: var(--pink);
        }

        .x-shape .bottom-rect {
            transform: translateY(-9.9px) translateX(-25.2px) rotate(-45deg);
            fill: var(--pink);
        }

        .x-shape .bottom-rect,
        .x-shape .top-rect {
            transform-origin: center;
            width: 80px;
        }

        .x-shape .middle-rect {
            transform: translateX(185px) rotate(90deg);
        }

        .bottom-rect,
        .middle-rect,
        .top-rect {
            transition-duration: 400ms;
            transition-timing-function: ease;
        }



        #menu {
            width: 100%;
            height: calc(100vh - 80px);
            margin-top: 80px;
            display: grid;
            grid-template-columns: 1fr auto;
            transition-duration: 400ms;
            transition-timing-function: ease;
        }

        .level1-option {
            padding: 5px;
            margin: 10px 0px;
            font-family: abel;
        }

        .menu-left {
            background-color: #bebebe4e;
            backdrop-filter: blur(10px);
            z-index: 0;
        }

        .menu-right {
            display: grid;
            grid-template-rows: auto 1fr;
            height: 100%;
            background-color: whitesmoke;
        }

        .menu-content {
            padding: 0px 10px;
            margin-left: 20px;
            border-left: 2px solid rgb(0, 187, 187);
        }

        #level1 {
            max-height: calc(100vh - 50px);
            padding: 10px;
            min-width: 40vw;
            overflow-y: scroll;
            margin-bottom: 10px;
        }

        #level1::-webkit-scrollbar {
            width: 5px;
            margin: 10px;
        }

        #level1::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background-color: #ffed62;

        }

        .menu-content.collapsed {
            display: none;
        }

        .menu-title {
            font-size: large;
            font-weight: 600;
            display: grid;
            gap: 50px;
            grid-template-columns: 1fr 30px;
            padding: 5px 10px;
            margin-bottom: 5px;
            cursor: pointer;
        }

        .menu-title:hover {
            color: #3177d8;
        }

        .menu-title.collapsed:hover {
            color: rgb(132, 0, 198);
        }

        .level2-option {
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
            width: fit-content;
            font-family: abel;
        }

        .level2-option:hover {
            text-decoration: underline;
            text-decoration-style: dotted;
            color: teal;
        }

        li.acc-nav {
            list-style-type: none;
            margin: 0px auto;
            font-family: "Nunito", serif;
            transition: ease 400ms;
            display: grid;
            grid-template-columns: auto auto;
            gap: .5rem;
            padding: 5px 0px;
            width: fit-content;
            font-size: 1.2rem;
            text-align: center;
            margin-bottom: 10px;
        }

        button.login {
            list-style-type: none;
            font-family: "Nunito", serif;
            transition: ease 400ms;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: medium;
            margin: 5px;
            display: inline;
            color: #3177d8;
            background-color: transparent;
            border: 1px solid #3177d8;
            min-width: 100px;
        }
        button.login:hover{
            color: white;
            background-color: #3177d8;
        }
        button.sign-up {
            font-family: "Nunito", serif;
            transition: ease 400ms;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: medium;
            margin: 5px;
            display: inline;
            color: white;
            background-color: teal;
            border: 1px solid teal;
            min-width: 100px;
        }

        button.sign-up:hover{
            background-color: transparent;
            color: teal;
        }
    </style>
    <script>
        function closeNavOptions() {
            document.querySelector("#open-close-icon").classList.toggle('x-shape');
            document.querySelector("#menu").classList.toggle('hidden');
            document.querySelector('.nav-strip').classList.toggle('collapsed-nav')
        }

        document.getElementById("open-close-icon").addEventListener("click", closeNavOptions);

        document.querySelector('.menu-left').addEventListener("click", closeNavOptions);
        document.querySelector('.menu-bottom-right').addEventListener('click', closeNavOptions)

        document.querySelectorAll('.level1-option').forEach(option => {
            const title = option.querySelector('.menu-title');
            title.addEventListener("click", () => {

                const content = option.querySelector('.menu-content');
                const icon = option.querySelector('i');
                icon.classList.toggle('fa-minus');
                icon.classList.toggle('fa-plus');
                content.classList.toggle('collapsed');
                title.classList.toggle('collapsed')
            })
        })


        // Get a reference to the navigation bar element
        const navbar = document.getElementById('navStrip');

        // Function to add box shadow when scrolling is done
        function toggleBoxShadow() {
            if (window.scrollY > 0) {
                // Add box shadow when scrolling down
                navbar.style.boxShadow = '0 2px 4px rgba(0, 0, 0, 0.1)';
            } else {
                // Remove box shadow when at the top
                navbar.style.boxShadow = 'none';
            }
        }

        // Attach the toggleBoxShadow function to the scroll event
        window.addEventListener('scroll', toggleBoxShadow);

    </script>
</div>