<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trusted Advisers Realty</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <script src="/scripts/index.js" defer></script>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@beta/bundled/locomotive-scroll.min.js"></script>
    <script>
        (function () {
            const locomotiveScroll = new LocomotiveScroll();
        })();
    </script>
    <meta data-react-helmet="true"
        content="Trusted Advisers Realty is a real estate company based in Edmonton, Alberta. They offer expert advice and guidance to help you find your dream home with 100% confidence"
        name="description">
    <meta data-react-helmet="true" content="Trusted Advisers Realty, the triple guarantee brokerage in Alberta"
        property="og:title">
    <meta data-react-helmet="true"
        content="Trusted Advisers Realty is a real estate company based in Edmonton, Alberta. They offer expert advice and guidance to help you find your dream home with 100% confidence."
        property="og:description">
    <meta data-react-helmet="true" content="/images/icon.svg" property="og:image">
    <meta data-react-helmet="true" content="summary_large_image" name="twitter:card">
    <meta data-react-helmet="true" content="/images/tar logo-bodered.png" name="twitter:image">
    <link data-react-helmet="true" href="https://emonton.kvresident/" rel="canonical">
    <link data-react-helmet="true" href="/imges/icon.svg" x="" y="" height="" width="" />
    <link data-react-helmet="true" href="https://edmonton.kvresident.com" rel="preconnect">
    <link data-react-helmet="true" href="/favicon.ico" rel="icon" sizes="any">
    <link data-react-helmet="true" href="favicon.svg" rel="icon" type="image/svg+xml">
    <link data-react-helmet="true" href="/apple-touch-icon-192x192.png" rel="apple-touch-icon" sizes="192x192">
    <link data-react-helmet="true" href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link data-react-helmet="true" href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    <link data-react-helmet="true" href="/site.webmanifest" rel="manifest">

</head>

<body>
    <div class="body-wrapper page ">
        <%- include("nav") %>
            <header>

                <div class="header-left-container">
                    <div class="header-left">
                        <div class="header-left-toptext">
                            <h1>Stop Guessing! Start Knowing,</h1>
                        </div>
                        <div class="header-left-quiz">
                            <h3 class="h-h3 e1">How much and how fast you home will sell</h3>
                        </div>
                        <div class="h-txt-container">
                            <p>Accept our cash offer to sell without showings! Test the MLS for a higher price if you
                                choose.</p>
                            <form class="guide-search-bar header-form" action="#" method="post">
                                <div class="input-container">
                                    <i class="fa-solid fa-location-dot"></i>
                                    <input type="text" name="address" id="search-input" placeholder="Enter your address"
                                        required="" autocomplete="off">
                                </div>
                                <button class="guide-search-btn">
                                    <i class="fas fa-magnifying-glass"></i>
                                    <span>Instant Evaluation</span>
                                </button>
                            </form>
                        </div>
                        <div class="header-left-info">
                            <p>
                                <a href="" class="learn-more-link">The only triple guarantee brokerage in Alberta →</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="header-right">
                    <div class="header-right-image">
                        <img src="/images/black-businessman-happy-expression.png" alt="" style="float: left;">
                    </div>
                </div>
            </header>
            <main>
                <section id="guide-section">
                    <svg id="opt_4" viewBox="0 0 1924 200" xmlns="http://www.w3.org/2000/svg"
                        preserveAspectRatio="none">

                        <path
                            d="M0 84.1171V201H1923V54.3681C1923 54.3681 1815 66.0404 1681.5 30.21C1548 -5.62043 1426 -11.7331 1267.5 30.2099C1109 72.1529 972.739 125.97 906 125.97C840.586 125.97 815.334 80.482 718 71.4999C585 59.2264 543.025 101.727 485 84.9502C426.975 68.1735 395.5 40.8453 253.5 72.8563C111.5 104.867 0 84.1171 0 84.1171Z"
                            fill="#6667AB" />
                    </svg>
                    <div id="saleGuarantee">
                        <h3>Guaranteed Process</h3>
                        <div class="guarantee-container">
                            <div class="guarantee-card">
                                <div class="guarantee-icon">
                                    <img src="/images/time-calender.png" alt="">
                                </div>
                                <div class="guarantee-info">We guide your selling time</div>
                                <div class="guarantee-link"><a href="#" class="learn-more-link">Learn More →</a></div>
                            </div>
                            <div class="guarantee-card">
                                <div class="guarantee-icon">
                                    <img src="/images/home-price.png" alt="">
                                </div>
                                <div class="guarantee-info">We guarantee your selling price</div>
                                <div class="guarantee-link"><a href="#" class="learn-more-link">Learn More →</a></div>
                            </div>
                            <div class="guarantee-card">
                                <div class="guarantee-icon">
                                    <img src="/images/home-profit.png" alt="">
                                </div>
                                <div class="guarantee-info">We guarantee your right to cancel it</div>
                                <div class="guarantee-link"><a href="#" class="learn-more-link">Learn More →</a></div>
                            </div>
                        </div>

                        <section id="guide">
                            <h1>It’s So Easy. And It’s Guaranteed!</h1>
                            <div class="guide-container">
                                <article class="guide-card">
                                    <div class="guide-img">
                                        <img src="./images/pexels-andrea-piacquadio-3756681.jpg" alt="">
                                    </div>
                                    <div class="guide-txt">
                                        <h3>CONTACT</h3>
                                        <p>
                                            Reach out to us with details about your property. We'll schedule a
                                            consultation to assess its value and discuss your selling goals.
                                            Call us for a no-obligation, risk-free offer.

                                        </p>

                                    </div>
                                </article>
                                <article class="guide-card">
                                    <div class="guide-img">
                                        <img src="./images/african-american-technician-checks-maintenance-solar-panels-group-three-black-engineers-meeting-solar-station.jpg"
                                            alt=""
                                            title="Image by ASphotofamily on Freepik &nbsp; 
https://www.freepik.com/free-photo/african-american-technician-checks-maintenance-solar-panels-group-three-black-engineers-meeting-solar-station_26153285.htm#query=house%20inspection&position=3&from_view=search&track=ais">
                                    </div>
                                    <div class="guide-txt">
                                        <h3>HOUSE APPRAISAL</h3>
                                        <p>
                                            Our team will thoroughly review your property and provide a fair and
                                            competitive cash offer, typically within days.
                                            We evaluate the cost of your house and propose the best offer for your
                                            property.
                                        </p>
                                    </div>
                                </article>
                                <article class="guide-card">
                                    <div class="guide-img">
                                        <img src="./images/portrait-pretty-young-woman-celebrating-success-laptop-sit-couch.jpg"
                                            alt="">
                                    </div>
                                    <div class="guide-txt">
                                        <h3>SELL YOUR HOME</h3>
                                        <p>
                                            Once you accept the offer, we'll handle the paperwork and closing process,
                                            ensuring a smooth and hassle-free sale of your home.
                                            Choose your settlement date and get your cash fast!
                                        </p>
                                    </div>
                                </article>
                            </div>
                        </section>
                        <form class="guide-search-bar" action="#" method="post">
                            <div class="input-container">
                                <i class="fa-solid fa-location-dot"></i>
                                <input type="text" name="address" id="search-input" placeholder="Enter your address"
                                    required="" autocomplete="off">
                            </div>
                            <button class="guide-search-btn">
                                <i class="fas fa-magnifying-glass"></i>
                                <span>Instant Evaluation</span>
                            </button>
                        </form>
                    </div>


                    <svg id="opt_1" viewBox="0 0 1922 115" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M176.253 71.999C140.816 57.9009 65.0459 31.4143 0 31.4143V0H1922V31.4143C1904.28 31.4143 1741.92 21.994 1663.16 62.8287C1604.41 93.291 1482.86 73.3 1384.85 62.8287C1286.83 52.3571 1240.17 86.4411 1175 97C1057.5 116.039 998.302 89.6215 927.427 71.999C856.555 54.3763 780.551 114.293 654.656 114.293C519.736 114.293 524.564 91.387 421.748 71.999C318.934 52.6111 220.55 89.6215 176.253 71.999Z"
                            fill="#6667AB" />
                    </svg>

                </section>

                <section id="persuade">
                    <article class="persuade-card">
                        <div class="card-right">
                            <div>
                                <h2>Have any questions?</h2>
                                <h2>We have the answers!</h2>
                            </div>
                            <div class="orange-txt">
                                <h3>CLICK HERE TO SCHEDULE A CALL</h3>
                                <P>with one of out representatives</P>
                            </div>
                        </div>
                        <div class="card-left">
                            <img src="./images/phone-1.png" alt="">
                        </div>
                    </article>
                </section>

                <section id="about">
                    <div class="about about-1">
                        <div class="about-img">
                            <img src="./images/excited-couple-raising-hands-happy-move-new-house.jpg" alt="">
                        </div>
                        <div class="about-text">
                            <h2>Swift Sale</h2>
                            <p>Skip showings! Choose a moving day that’s best for you. We pay 90% of current value PLUS
                                90% of any
                                overage if we resell for more than appraised! All commissions + fees are built in. It’s
                                the easiest
                                way to sell!</p>
                            <form class="guide-search-bar" action="#" method="post">
                                <div class="input-container">
                                    <i class="fa-solid fa-location-dot"></i>
                                    <input type="text" name="address" id="search-input" placeholder="Enter your address"
                                        required="" autocomplete="off">
                                </div>
                                <button class="guide-search-btn">
                                    <span>Get an Appraisal</span>
                                    <i class="fa-solid fa-house-circle-check"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="about about-2">
                        <div class="about-img">
                            <img src="./images/pexels-mart-production-7415039.jpg" alt="">
                        </div>
                        <div class="about-text">
                            <h2>List on the Local MLS</h2>
                            <p>We don’t require you to list your home and tolerate showings, but you may choose
                                (optional) to list
                                on the local MLS to test for a higher price - for as long as you like. Activate a Swift
                                Sale any
                                time.</p>
                            <div>
                                <a href="#" class="learn-more-link">Start →</a>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="deals">
                    <div class="header">
                        <h2>We buy houses too!</h2>
                        <p>Accept our offer and sell without showings. If you want, you can test the market with an MLS
                            listing and
                            activate a Swift Sale if/when you want - no extra fees.</p>
                    </div>
                    <div class="deals-container">
                        <div class="deal deal-1">
                            <div>
                                <h3>Swift Sale </h3>
                                <p>For those who want a certain sale, to skip public showings, chooe a moving date and
                                    more
                                    convenient process. The easy way to sell your home.</p>
                            </div>
                            <ul>
                                <li>We'll pay 90% of current value, PLUS 90% of any overage!</li>
                                <li>Sell Without showing</li>
                                <li>Avoid Double Moves</li>
                                <li>Avoid Double Mortgages</li>
                                <li>Buy Your next home confidently</li>
                            </ul>
                            <p> <i class="fa-solid fa-star color-gold"></i> We'll pay 90% of Market Value on the day you
                                choose, PLUS 90% of any overage</p>
                            <a href="#" class="learn-more-link">Learn More →</a>
                        </div>
                        <div class="deal deal-2">
                            <div>
                                <h3>List on the Local MLS </h3>
                                <p>List with Trusted Advisers Realty like you're already sold! Receive in person
                                    professional
                                    representation.
                                    Activate a Swift Sale at any time.</p>
                            </div>
                            <ul>
                                <li>Local Expert Knowledge and Advice</li>
                                <li>Marketing Power</li>
                                <li>Free Photos and Measurements</li>
                                <li>Free Showing-Schedule service</li>
                                <li>Fallback to Swift Sale Cash Offer any time</li>
                            </ul>
                            <p> <i class="fa-solid fa-star color-gold"></i> Activate a Swift Sale at any time, you're in
                                control.</p>
                            <a href="#" class="learn-more-link">Learn More →</a>
                        </div>

                    </div>
                    <div class="deals-btn">
                        <button class="estimates">Order an Appraisal</button>
                    </div>
                </section>

                <section id="l_blog">
                    <div class="plan-2-s">
                        <h2>Plan to Succeed</h2>
                        <div class="p-2-s">
                            <div class="right">
                                <iframe src="https://www.youtube-nocookie.com/embed/wir6ocFQlIQ?controls=0"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    allowfullscreen></iframe>
                            </div>
                            <div class="left">
                                <p>It's important that you're successful when you’re ready to sell. Sadly, more than
                                    half of all MLS
                                    listings end with excuses and frustration rather than a sale. The result is changes
                                    to your life
                                    plans, and unexpected costs if you’re forced to own 2 homes at once. This is why
                                    we've built a
                                    better plan designed to guarantee your success and make the entire process
                                    stress-free!</p>
                                <a href="#" class="learn-more-link">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button>Start</button>
                    </div>
                </section>
                <section id="testimonials">
                    <h1>What Edmonton Customers Are Saying</h1>
                    <div class="yt-testimonials">
                        <div class="yt-testimony">
                            <iframe src="https://www.youtube-nocookie.com/embed/1pdUl0clSig?controls=0"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                        </div>
                        <div class="yt-testimony">
                            <iframe src="https://www.youtube-nocookie.com/embed/cLeiHPj8MWI?controls=0"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                </section>
                <%- include('faqs') %>
                    <%- include('estimates') %>

            </main>
            <%- include('footer') %>
    </div>


</body>

</html>