@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Abel&family=Caveat:wght@500&family=Nunito:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abel&family=Cinzel:wght@500;600&family=DM+Serif+Display&family=Nunito:wght@500&family=Quicksand:wght@500&display=swap');


:root {
    --red: #C92129;
    --blue: #4b93f7;
    --pink: rgb(255, 70, 101);
    --btn-color: #4b93f7;
    --orange: #fdca42;
    --box-shadow: 0 2px 5px 1px rgba(64, 60, 67, .16);
    --box-shadow1: 0 2px 5px 1px rgba(64, 60, 67, .16);
    --text-color-1: #4b93f7;
    --dm: "Dm Serif Display";
}

* {
    border: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: nunito;
    font-size: 1.1rem;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(19, 137, 255);
    border-radius: 5px;
}

html {
    scroll-behavior: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Dm Serif Display";
}

h3{
    font-size: 20px;
}

img {
    max-width: 50vw;
}

body {
    background-color: white;
    scroll-behavior: smooth;
}

button{
    cursor: pointer;
}
.hidden {
    display: none !important;
    line-height: 1.5;
    font-size: clamp(1.125rem, 2vw, 1.25rem);
}


a.learn-more-link {
    color: #0063e4;
    text-decoration: none;
    margin-top: 1em;
    display: inline-block;
    font-weight: bold;
    padding: 0.5em;
    margin-left: -0.5em;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    overflow: hidden;
}

a.learn-more-link:before,
a.learn-more-link:after {
    position: absolute;
    content: "";
    border-bottom: 3px solid #0063e4;
    border-radius: 1em;
    bottom: 0.3em;
    transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

a.learn-more-link:before {
    width: 1em;
    transform-origin: left;
}

a.learn-more-link:after {
    width: 82%;
    left: 1em;
    transform: translateX(110%);
}

a.learn-more-link:hover:before {
    transform: scaleX(0.3);
}

a.learn-more-link:hover:after {
    transform: translateX(0);
}

/* colors */
.color-gold {
    color: gold;
}

/* end of colors */

.body-wrapper.page {
    margin: 10px 1rem;
}




header .header-left-container {
    padding-top: 90px;
    min-height: calc(100vh - 100px);
}

@media(min-width: 992px){
    header .header-left-container{
        padding-left: 2rem;
    }
}

header h1,
header h3 {
    font-family: abel;
    font-weight: 500;
}

header h1 {
    font-family: "Dm Serif Display", serif;
    font-weight: 700;
    color: var(--red);
    text-shadow: 2px 2px 0 #6c6a6a, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 3.5rem;
    line-height: 3.8rem;
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
}

.h-txt-container {
    padding: .5rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(20px);
    max-width: 500px;
    margin: 20px auto;
}

.h-txt-container p {
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: nunito;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

@media(min-width: 992px) {
    .h-txt-container p {
        color: var(--text-color-1);
    }
}


header h3.h-h3 {
    padding: 10px 0px;
    text-align: center;
    font-family: nunito;
}

.header-left {
    margin-right: auto;
    margin-left: auto
}

.header-left-info p{
    text-align: center;
}

.header-right-image {
    width: fit-content;
    margin: 0px auto;
}

.header-right img {
    height: 100vh;
    object-position: right;
    object-fit: contain;
}


.header-left-quiz {
    margin: 2rem 0px;
}

.h-call-button {
    margin-bottom: 20px;
}

.header-left-info p {
    color: var(--blue);
    font-size: 20px;
    cursor: pointer;
}

@media(max-width: 992px) {
    .body-wrapper.page {
        margin: 10px 0px;
    }

    header h1 {
        font-size: 2.6rem;
        background: radial-gradient(#ffffff89, #ffffff43, #ffffff00);
    }

    header h3.h-h3 {
        font-size: 1.2rem;
    }

    header {
        background-color: white;

    }

    .header-left {
        max-width: 540px;
    }

    .header-right {
        display: none;
    }

    header {
        background-image: url(/images/black-man-holding-minihouse.png);
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
    }

    .header-left-container {
        background-color: #ffffff37;
    }

    .header-left-container h1 {
        background: transparent;
    }

    section#guide-section {
        background-color: white;
    }
}

@media(min-width: 992px) {
    header {
        display: grid;
        grid-template-columns: auto 1fr;
    }

    .header-left {
        max-width: 720px
    }
}

@media(min-width: 1200px) {
    .header-left {
        max-width: 840px
    }
}

@media screen and (min-width: 992px) {
    main {
        margin-top: -5rem;
    }
}

#opt_4 {
    margin-bottom: -8px;
}

#opt_1 {
    margin-top: -2px;
}

#saleGuarantee {
    background-color: #4b93f7;
    padding: 10px 0px;
}



.guarantee-container {
    width: fit-content;
    max-width: 80vw;
    margin: 0px auto;
    padding: 10px;
}

@media screen and (min-width: 768px) {
    .guarantee-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

}



.guarantee-card {
    width: fit-content;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 768px) {
    .guarantee-card {
        width: 100%;
        padding: 10px 0px;
    }
}

.guarantee-icon {
    text-align: center;
}

.guarantee-card img {
    height: 75px;
    max-width: 75px;
}

.guarantee-card * {
    font-size: large;
}

.guarantee-info {
    color: white;
    padding: 0px 10px;
}

.guarantee-link {
    margin: 20px auto;
}

.guarantee-link a {
    color: azure;
    text-decoration: none;
    font-weight: bold;
    font-size: medium;
}

#saleGuarantee h3,
#guide h1 {
    text-align: center;
    color: white;
    padding: 20px 0px;
    font-size: 2rem;
}



#guide h1 {
    font-family: "Dm Serif Display";
}

#guide-section .btn-container {
    text-align: center;
    padding: 20px 0px;
}



#guide-section button:hover {
    background-color: white;
    color: rgb(15, 153, 228);
}



.guide-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.guide-container img {
    width: 100%;
    max-width: unset;
    border-radius: 10px 10px 0px 0px;
}

.guide-card {
    max-width: 80vw;
    width: 350px;
    margin: 10px auto;
    border-radius: 10px;
    background: linear-gradient(to bottom right, white, #E8EAE9);
}

.guide-img {
    text-align: center;
    width: 100%;
}

#saleGuarantee .guide-card .guide-txt h3 {
    color: rgb(61, 61, 255);
    font-family: var(--dm);
    font-size: 28px;
    text-align: left;
    padding: 5px 0px;
}

.guide-txt {
    padding: 10px;
}

.guide-card p {
    font-size: 1.05rem;

}

/* search bar css */
.guide-search-bar {
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    /* width: 500px; */
    max-width: min(80vw, 500px);
    align-items: center;
    margin: 0px auto;
    box-shadow: 0 2px 5px 1px rgba(64, 60, 67, .16);
    padding-left: 15px;
    margin-top: 40px;
    height: fit-content;
    color: white;
}

.guide-search-bar.header-form {
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 10px auto;
    margin-top: 20px;
    max-width: 90%;
}

.guide-search-bar input {
    width: 100%;
    outline: none;
    background: transparent;
    color: white;
}

.input-container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
}

.input-container i {
    color: rgb(0, 5, 159);
}

.guide-search-bar.header-form input {
    color: black;
}

.guide-search-bar input::placeholder {
    color: rgb(210, 210, 210);
}

.guide-search-bar.header-form input::placeholder {
    color: rgb(58, 58, 58);
}

button.guide-search-btn {
    background-color: transparent;
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5px;
    align-items: center;
    text-align: center;
    border-radius: 0px 25px 25px 0px;
    padding: 10px;
    cursor: pointer;
    border-left: 1px solid rgb(168, 168, 168);
    color: white;
    font-weight: bold;
}

.guide-search-bar.header-form .guide-search-btn,
.about-text .guide-search-btn {
    border-left-color: rgb(107, 109, 186);
    background: var(--btn-color);
}

.guide-search-btn span {
    font-family: nunito;
    font-size: small;
}

.magnifying-glass-container {
    padding-left: 10px;
}

/* Search bar */

.logo img {
    height: 45px;
    margin-left: 30px;
}

.persuade-card {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: rgb(0, 164, 164);
    max-width: 90vw;
    width: 600px;
    padding: 10px;
    margin: 50px auto;
    cursor: pointer;
}

@media (max-width: 768px) {
    .card-right * {
        text-align: center;
    }

    .persuade-card {
        grid-template-columns: unset;
        grid-template-rows: 1fr 20vh;
    }

    .persuade-card img {
        max-width: unset !important;
        max-height: 20vh;
    }

    .persuade-card .card-left {
        height: 100%;
        justify-content: space-evenly;
    }
}

.persuade-card img {
    max-width: 100%;
}

.persuade-card .card-left {
    display: grid;
    align-items: center;
}

.persuade-card h2 {
    color: white;
    font-family: var(--dm);
    font-size: 2rem;
    line-height: 3rem;
}

.orange-txt {
    color: var(--orange);
    margin: 20px 5px;
}

.orange-txt * {
    font-family: Arial;
}

.orange-txt h3 {
    font-weight: 700;
    font-size: 1.2rem;
}

.orange-txt p {
    font-size: .99rem;
    font-weight: bold;
}


.offer-q {
    text-align: center;
    margin: 50px auto;
    width: 600px;
    max-width: 80vw;

}

.offer-q h2 {
    font-weight: 600;
    font-size: 35px;
    margin: 20px;
}

.offer-q p {
    font-weight: 400;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about {
    width: fit-content;
    margin: 2rem auto;
    max-width: 80vw;
    background-color: whitesmoke;
    padding: .5rem;
    border-radius: 5px;
}

.about h2 {
    font-weight: 600;
    font-size: 2rem;
    font-family: var(--dm);
    text-align: center;
    color: teal;
    padding: .5rem;
}

.about-img {
    text-align: center;
    display: flex;
    align-items: center;
}

.about img {
    max-width: 100%;
}

.about-input {
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    margin: 1rem 0px;
}

.about-input input {
    border: none;
    outline: none;
}

.about * {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (max-width: 992px) and (min-width: 768px){
    .about-text form.guide-search-bar{
        max-width: 30vw;
    }
}

/* Media query for screens wider than 768px */
@media screen and (min-width: 768px) {
    .about img {
        max-width: 40vw;
        max-height: unset;
    }

    .about {
        display: flex;
        flex-direction: row-reverse;
        /* Reverse the order of flex items on larger screens */
    }

    .about-1 {
        flex-direction: row;
        /* Reset the flex-direction for larger screens */
    }

    .about-img {
        order: 1;
        /* Reset the order to default on larger screens */
        margin-left: 20px;
        /* Add some space between text and image */
    }

    .about-text {
        padding: .5rem;
        width: 60%;
        display: grid;
        align-content: center;
    }
}

#deals .header * {
    max-width: 80vw;
    width: 600px;
    margin: 10px auto;
    text-align: center;
    font-weight: 600;
    text-align: center;
}

#deals .header h2 {
    font-size: 2.2rem;
}

.deal {
    /* width: 500px; */
    margin: 1rem auto;
    background: white;
    padding: 10px;
    border-radius: 5px;
}

@media (max-width: 768px){
    .deal{
        max-width: 70vw;
    }
}



.deal-1 {
    background-color: rgb(255, 243, 235);
}

.deal-2 {
    background-color: rgb(218, 223, 250);
}

.deal ul {
    background-color: white;
}

.deal h3,
.deal p,
.deal button {
    text-align: center;
}

.deal h3 {
    font-size: 1.7rem;
    font-weight: 600;
    padding: 10px;
    font-family: var(--dm);
}

.deal ul {
    list-style: none;
    padding: .5rem;
    text-align: left;
    margin: 10px 0;
    border-radius: 5px;
}

.deal li {
    display: flex;
    align-items: center;
    padding: .3rem;
    border-bottom: .5px solid rgb(209, 209, 209);
}

.deal li::before {
    display: inline-block;
    content: "\2713";
    margin-right: 8px;
    color: rgb(255, 85, 0);
    font-weight: 600;
}

.deal p {
    padding: 10px 0;
    font-size: 1.1rem;
}

.deal i {
    color: var(--orange);
}

.deals-btn {
    padding: 2rem;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .deals-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        width: fit-content;
        border: 1px dotted teal;
        padding: 10px;
        margin: 1rem auto;
    }

    .deal{
        max-width: 40vw;
    }
}



.plan-2-s {
    padding: 10px;
    background: #edf3f2;
    margin: 10px auto;
    width: fit-content;
    max-width: 90vw;
}

.plan-2-s h2 {
    text-align: center;
    font-weight: 600;
    padding: 1rem;
}

.p-2-s .right {
    width: fit-content;
    margin: 1px auto;
}

.p-2-s .left {
    padding: 10px;
}

.p-2-s .left p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px 0px;
}

@media screen and (min-width: 768px) {
    .p-2-s {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
    }

    .yt-testimonials {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}

.yt-testimonials {
    width: fit-content;
    margin: 10px auto;
}

.yt-testimony {
    padding: .5rem;
}



/*  */

.hiw p{
    color: rgb(99, 99, 99);
    font-size: 1rem !important;
}

.hiw-left{
    display: grid;
    align-items: center;
}