.hiw-right h5 {
    text-transform: capitalize;
}

div.hiw-img[marketing-xp] {
    background: url(/images/marketing-xp.jpg);
}

div.hiw-img[listing-commitment] {
    background: url(/images/hiw/listing-commitment.jpg);
}

div.hiw-img[listings-active] {
    background: url(/images/hiw/12-plus-listings.jpg);
}

div.hiw-img[customer-followup] {
    background: url(/images/hiw/customer-followup.jpg);
}

div.hiw-img[mailing-list] {
    background: url(/images/hiw/mailing-list.png);
}

div.hiw-img[realtors-networking] {
    background: url(/images/hiw/realtors-networking.jpg);
}

div.hiw-img[working-description] {
    background: url(/images/hiw/working-description.jpg);
}

div.hiw-img[swift-sale] {
    background: url(/images/hiw/swift-sale.jpg);
}

div.hiw-img[emails-and-flyers] {
    background: url(/images/hiw/emails-and-flyers.jpg);
}

div.hiw-img[interior-design] {
    background: url(/images/hiw/interior-design.png);
}

div.hiw-img[influencer-mailing] {
    background: url(/images/hiw/influencer-mailing.jpg);
}

div.hiw-img[business-networking] {
    background: url(/images/hiw/business-networking.webp);
}

div.hiw-img[social-media-marketing] {
    background: url(/images/hiw/social-media-marketing.png);
}

div.hiw-img[social-media-engagement] {
    background: url(/images/hiw/social-media-engagement.png);
}

div.hiw-img[search-engine-marketing] {
    background: url(/images/hiw/search-engine-marketing.png);
}

div.hiw-img[referral-program] {
    background: url(/images/hiw/referral-program.jpg);
}

div.hiw-img[large-client-list] {
    background: url(/images/hiw/large-client-list.jpg);
}

div.hiw-img[mailing-list-creation] {
    background: url(/images/hiw/mailing-list-creation.png);
}

div.hiw-img[sms-marketing] {
    background: url(/images/hiw/sms-marketing.jpeg);
}

div.hiw-img[regular-posts] {
    background: url(/images/hiw/regular-posts.png);
}

div.hiw-img[pro-photography] {
    background: url(/images/hiw/pro-photography.webp);
}

div.hiw-img[virtual-tour] {
    background: url(/images/hiw/3d-virtual-tour.jpg);
}

div.hiw-img[drone-photography] {
    background: url(/images/hiw/drone-photography.jpeg);
}

div.hiw-img[pro-appraisal] {
    background: url(/images/hiw/pro-appraisal.webp);
}

div.hiw-img[video-social-media] {
    background: url(/images/hiw/video-social-media.jpeg);
}

div.hiw-img[property-websites] {
    background: url(/images/hiw/property-websites.jpg);
}

div.hiw-img[monthly-open-house] {
    background: url(/images/hiw/monthly-open-house.jpg);
}

div.hiw-img[free-renovation] {
    background: url(/images/hiw/free-renovation.jpg);
}

div.hiw-img[tabletop-package] {
    background: url(/images/hiw/tabletop-package.jpg);
}

div.hiw-img[radio-tv-ads] {
    background: url(/images/hiw/radio-tv-ads.png);
}

div.hiw-img[garage-sale] {
    background: url(/images/hiw/garage-sale.jpg);
}

div.hiw-img[commission-sale] {
    background: url(/images/hiw/commission-sale.jpg);
}

div.hiw-img[for-sale-sign] {
    background: url(/images/hiw/for-sale-sign.jpg);
}

div.hiw-img[pay-per-click] {
    background: url(/images/hiw/pay-per-click.webp);
}

div.hiw-img[online-ads] {
    background: url(/images/hiw/online-ads.jpg);
}

div.hiw-img[overseas-marketing] {
    background: url(/images/hiw/overseas-marketing.webp);
}

div.hiw-img[buyer-incentive-program] {
    background: url(/images/hiw/buyer-incentive-program.jpg);
}

div.hiw-img[down-payment-program] {
    background: url(/images/hiw/down-payment-program.png);
}